@model List<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>Department Management</h1>
<hr />
@if (TempData["msg"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["msg"]</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<a href="~/Department/Create" class="btn btn-primary">Create</a>

@if (Model.Any())
{
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Operations</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Name</th>
                <th>@item.CreatedAt.ToString("dd/MM/yyyy")</th>
                <th>
                    <a class="btn btn-danger" href="~/Department/Delete/@item.Id">Delete</a>
                    <a class="btn btn-warning" href="~/Department/Edit/@item.Id">Edit</a>
                </th>
            </tr>
        }

    </table>
}
else
{
    <div class="alert alert-warning">
        No Department !!
    </div>
}


